.bib {
width: auto;
height: 44px;
}

h1 { font-size: 18px;
}


  /* styling for horisontal navigation */

.topnav {
width: auto;
height: 150px;
     
}  

.topnav ul {
list-style-type: none;
margin: 0;
padding: 0;
}
  
.topnav li {
display: inline;
float: left;
}

.topnav a {
display: block;
padding: 30px;
background-color: #fff;
font-family: sans-serif;
color: #262626;
text-decoration: none;
font-size: 18px;
}

.topnav li a:hover {
    color: #79ba00;

}


 /* styling for vertikal navigation 
#forside {
    display: flex;
    justify-content:left;
}


 /* styling for vertikal navigation 

.sidenav{
    display: block;
}

.sidenavoverskrift { 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    color:#79ba00;
    text-align: left;
    padding-top: 50px;
    border: 30px;
    margin-top: 100px;
    padding-left: 20px;
}


.sidenav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60px;
} 
  
.sidenav  li {
    background-color: #ffff;
    margin-left: 20px;
}

.sidenav a {
    text-decoration: none;
    width: 40px;
    color: #262626;
    padding: 10px;
    border: 5px;
    display: block;
    
}

.sidenav li a:hover {
    color: #79ba00;
}
*/

/* Styling inspireret af https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_vertical_tabs 20.02.22 starter her */

* {box-sizing: border-box}
body {font-family: Arial, Helvetica, sans-serif;}

p {text-align: left;} 

/* Style the tab */
.tab {
  float: left;
  padding-top: 10px;
  width: 20%;
  height: 300px;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

/* Change buttons text color on hover */
.tab button:hover {
    color: #79ba00;
  
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  padding-top: 10px;
  margin-bottom: 15px;
  width: 80%;
  border-left: none;
  height: 800px;
  text-align: center;
}
/* Styling inspireret af https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_vertical_tabs 20.02.22 slut */


.fag-button{
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white; 
    color: black; 
    border: 2px solid #79ba00;
}

.fag-button:hover {
    background-color: #4CAF50;
    color: white;
}


.footer {
padding: 25px;
display: flex;
justify-content: center;
background-color: #262626;
color: #fff;
position: relative;
left: 0;
bottom: 0;
width: 100%;
height: 250px;
position: fixed;
    
}

.bibtilbyder {
    padding-left: 55px;
    padding-right: 55px;
}
.praktiskinformation{
    padding-left: 55px;
    padding-right: 55px;
    
}
.kontakt{
    padding-left: 55px;
    padding-right: 55px;
}
.someikoner{
    padding-left: 55px;
    padding-right: 55px;
}
 /* styling inspireret af https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_social_media_buttons 20.02.22 */
 
.fa {
    padding: 5px;
    font-size: 30px;
    width: 35px;
    height: auto;
    text-align: center;
    text-decoration: none;
}
  
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    background: #79ba00;
    color: white;
    margin-top: 70px;
}

.fa-instagram {
    background: #79ba00;
    color: white;
    margin-top: 15px;
}